<div class="row">
    <div class="col-24">
        <div class="float-left mt-2" *ngIf="rowData && rowData.length > 0 && rowData[0] !== 'autoHeight'">
            <span class="font-weight-bold">Contact ({{rowData.length | number}})</span>
        </div>
        <div class="float-right">
            <button class="btn btn-outline-primary" (click)="newCustomer()">New</button>
        </div>
    </div>
    <div class="col-24 mt-2" *ngIf="rowData && rowData.length > 0 && rowData[0] !== 'autoHeight'">
        <ag-grid-angular #agGrid class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs"
            (rowClicked)="onRowClicked($event)" [enableCellTextSelection]="true" [domLayout]="domLayout" (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>

    <div class="pt-3 col-24" *ngIf="!rowData || rowData.length===0">
        No Data Available
    </div>
</div>