<div class="cont-us col">

    <div class="row">
        <div class="col">
            <div class="crm-heading   crm-grid__item" id="crm_heading">
                <div class="crm-container">
                    <div class="crm-heading__main">
                        <h3 class="crm-heading__title">Manage Ticket Type</h3>
                        <span class="crm-heading__separator crm-hidden"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="float-right">
                <button class="btn btn-outline-primary float-left ml-2 mt-2" (click)="saveTicketType('ticketDetails')">
                    Save
                </button>
                <!-- *ngIf="mode" -->
                <button class="btn btn-outline-primary float-left ml-2 mt-2" (click)="deleteTicketTypeList()">
                    Delete
                </button>
                <button class="btn btn-outline-primary float-left ml-2 mt-2" (click)="newTicketType($event)">
                    Back
                </button>
            </div>
        </div>
    </div>

    <div class="row manage-tctype">
        <div class="col-24">
            <div class="crm-mainbox crm-portlet--height-fluid-half">
                <div class="container-fluid p-3">

                    <form [formGroup]="ticketTypeDetailsForm">
                        <div class="set-mediam">
                            <div class="row">
                                <div class="col-24 col-sm-24 col-md-12 col-xl-3">
                                    <div class="form-field">
                                        <div class="form-field-control">
                                            <ng-select #department [items]="departmentList" bindLabel="name" bindValue="key" [multiple]="false" placeholder="Department"
                                                clearAllText="Clear" appendTo="body" formControlName="department" [closeOnSelect]="true"
                                                [searchable]="false" [clearable]="false">
                                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                    <div class="d-inline-block mr-4 ln-normal">
                                                        <label>{{item.name}}</label>
                                                    </div>
                                                </ng-template>
                                                <ng-template ng-header-tmp>
                                                    <input type="text" [appAutofocus] class="in-set form-field-input" placeholder="Search" (input)="department.filter($event.target.value)"
                                                    />
                                                </ng-template>
                                            </ng-select>
                                            <div *ngIf="submitted && ticketTypeDetailsFormValue.department.errors" class="invalid-feedback text-left pl-1">
                                                <div *ngIf="ticketTypeDetailsFormValue.department.errors.required">
                                                    Department is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-24 col-sm-24 col-md-12 col-xl-4">
                                    <div class="form-field">
                                        <!-- *ngIf="!mode" -->
                                        <div class="form-field-control">
                                            <input id="type" type="text" formControlName="name" class="form-field-input" placeholder=" ">
                                            <label for="type" class="form-field-label">Ticket Type</label>
                                            <div *ngIf="submitted && ticketTypeDetailsFormValue.name.errors" class="invalid-feedback">
                                                <div *ngIf="ticketTypeDetailsFormValue.name.errors.required">Ticket Type is required
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="form-field-control" *ngIf="mode">
                                            <input id="type" type="text" formControlName="name" class="form-field-input" placeholder=" " disabled>
                                            <label for="type" class="form-field-label">Ticket Type</label>
                                            <div *ngIf="submitted && ticketTypeDetailsFormValue.name.errors" class="invalid-feedback">
                                                <div *ngIf="ticketTypeDetailsFormValue.name.errors.required">Ticket Type is required
                                                </div>
                                            </div>
                                        </div> -->

                                    </div>
                                </div>

                                <div class="col-24 col-sm-24 col-md-12 col-xl-12">
                                    <div class="form-field">
                                        <div class="form-field-control">
                                            <input id="whenToUse" type="text" formControlName="whenToUse" class="form-field-input" placeholder=" ">
                                            <label for="whenToUse" class="form-field-label">When To Use</label>
                                            <!-- <div *ngIf="submitted && ticketTypeDetailsFormValue.whenToUse.errors"
                                            class="invalid-feedback text-left pl-1">
                                            <div *ngIf="ticketTypeDetailsFormValue.whenToUse.errors.required">When To
                                                use is
                                                required</div>
                                        </div> -->
                                        </div>
                                    </div>
                                </div>


                                <div class="col-24 col-lg-4 col-md-12 col-sm-24 col-xl-4">
                                    <span class="font-weight-bold">Status</span>
                                    <br>
                                    <div class="custom-control custom-radio custom-control-inline mr-2" *ngFor="let status of status">
                                        <input type="radio" class="custom-control-input" [value]='status.id' name="status" formControlName="status" [id]="status.name">
                                        <label class="custom-control-label" [for]="status.name">{{status.name}}</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12">
                            <app-ticket-type-field-list [ticketTypeId]="ticketTypeId" [ticketTypeDepartment]="ticketTypeDepartment" [selectedTicketTypeFieldList]="selectedTicketTypeFieldList"
                                [availableTicketTypeFieldList]="availableTicketTypeFieldList" (ticketFieldListSave)="ticketFieldListSaved($event)"
                                (ticketOutputEmit)="ticketdata($event)">
                            </app-ticket-type-field-list>
                        </div>
                        <div [ngClass]="{'col-lg-12 col-md-12 col-xl-12 col-sm-12': (!ticketTypeFieldData || ticketTypeFieldData.inputType === 'dropdown' || ticketTypeFieldData.inputType === 'multiselect'), 'col-lg-4 col-md-4 col-xl-4 col-sm-4': (ticketTypeFieldData && ticketTypeFieldData.inputType !== 'dropdown' && ticketTypeFieldData.inputType !== 'multiselect') }">
                            <app-ticket-type-field-details [ticketTypeFieldData]="ticketTypeFieldData" (ticketFieldDetailsSaved)="ticketFieldDetailsSaved($event)">
                            </app-ticket-type-field-details>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>