@font-face {
  font-family: 'mtpo';
  src:  url('fonts/mtpo.eot?o0q3ma');
  src:  url('fonts/mtpo.eot?o0q3ma#iefix') format('embedded-opentype'),
    url('fonts/mtpo.ttf?o0q3ma') format('truetype'),
    url('fonts/mtpo.woff?o0q3ma') format('woff'),
    url('fonts/mtpo.svg?o0q3ma#mtpo') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mtpo{
  display: inline-block;
  font: normal normal normal 14px/1 mtpo;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mtpo-user_research:before {
  content: "\e915";
}
.mtpo-efin-icon:before {
  content: "\e910"; 
}
.mtpo-hidden-widget:before {
  content: "\e90c";
}
.mtpo-mytaxportal:before {
  content: "\e90d";
}
.mtpo-toolbox:before {
  content: "\e90e";
}
.mtpo-analytics:before {
  content: "\e900";
}
.mtpo-financial-product:before {
  content: "\e901";
}
.mtpo-clipboard:before {
  content: "\e902";
}
.mtpo-rejected-summary:before {
  content: "\e903";
}
.mtpo-efile:before {
  content: "\e904";
}
.mtpo-quick-return-summary:before {
  content: "\e905";
}
.mtpo-firm:before {
  content: "\e906";
}
.mtpo-return-summary:before {
  content: "\e907";
}
.mtpo-appointment:before {
  content: "\e908";
}
.mtpo-report:before {
  content: "\e909";
}
.mtpo-news:before {
  content: "\e90a";
}
.mtpo-to-do:before {
  content: "\e90b";
} 
.mtpo-ascendant-bars-graphic:before {
  content: "\e90f";
}
.mtpo-dashboard:before {
  content: "\e911";
}
.mtpo-folder1:before {
  content: "\e912";
}
.mtpo-invoice1:before {
  content: "\e913";
}
.mtpo-repairing-service:before {
  content: "\e914";
}
.mtpo-bank-building:before {
  content: "\e901";
}