
  $primary-color: #005074;
  $animation-duration: 0.4s;

  // .form-control:focus{
  //     border-color: transparent;
  //     box-shadow: none;
  //     background-color: transparent;
  // }
  
  @mixin label-inactive() {
    font-size: 1rem;
    // font-weight: bold;
    transform: translateY(0);
  }
  
  @mixin label-active() {
    font-size: 0.75rem;
    transform: translateY(-14px);
  }
  
  .form-field {
    display: block;
    // margin-bottom: 10px;
    margin-bottom: 5px;
  }
  .form-field-label {
    @include label-active();
    display: block;
    font-weight: normal;
    left: 0;
    margin: 0;
    padding: 18px 0 0;
    position: absolute;
    top: 0;
    transition: all $animation-duration;
    width: 100%;
    // color: #000;
  }
  .form-field-control {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .form-field-bar {
    border-bottom: 2px solid $primary-color;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transition: all $animation-duration;
    width: 1%;
  }
  .form-field-input,
  .form-field-textarea {
    appearance: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #e2e5ec;
    color: #000;
    display: block;
    font-size: 1rem;
    // margin-top: 24px;
    margin-top: 14px;
    outline: 0;
    // padding: 5px 0px 5px 0px;
    padding: 5px 0px 3px;
    width: 100%;
    height: inherit;
    line-height: inherit;
    border-radius: 0;
    
    // IE 10-11
    &:-ms-input-placeholder {
      ~ .form-field-label {
        @include label-inactive();
      }
    }
    // All other browsers except Edge
    &:placeholder-shown {
      ~ .form-field-label {
        @include label-inactive();
      }
    }
    &:focus {
      ~ .form-field-label {
        color: $primary-color;
        @include label-active();
      }
      ~ .form-field-bar {
        border-bottom: 2px solid $primary-color;
        transform: scaleX(210);
      }
    }
  }
  .form-field-textarea {
    height: 150px;
  }
  
.ng-select{
  padding-bottom: 0;
    .ng-placeholder{
        font-size: 1rem;
        // font-weight: bold;
        color: #000 !important;
    }
    span.ng-value-label{
      color: #000;
    }
    .ng-select-container{
      min-height: 40px;
      margin-top: 3px;
      .ng-value-container{
        padding: 0;
        width: 80%;
        border-top: 0;
        margin-top: 5px;
        height: 33px;
        padding: 0 !important;
      }
      .ng-placeholder{
        color: #000 !important;
        opacity: 1;
      }
    }
    .ng-select-container:after{
        border-bottom: 1px solid #e2e5ec !important;
        color: #000 !important;
    }
    .ng-select-container:before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 1px solid transparent;
        margin: 0 auto;
        transform: scaleX(0);
        transition: all $animation-duration;
        width: 1%;
    }
    
    .ng-placeholder{
      margin-top: 9px !important;
    }
    .ng-input{
      display: inline-block;
      input{
        color: #000 !important;
      }
    }
    .ng-value{
      background: transparent !important;
      margin-bottom: 0 !important;
      height: inherit;
      // padding: 5px 0px 0px !important;
      padding: 11px 0px 0px !important;
      display: inline-block;
      // color: #000 !important;
      span.ng-value-icon.right {
          display: none;
      }
    }
}

// .centric-modal-body{
//   .ng-select-container{
//     .ng-value-container{
//       padding: 0;
//       width: 80%;
//       border-top: 0;
//       margin-top: 6px;
//       height: inherit !important;
//     }
//   }
// }

.ng-dropdown-panel {
  .ng-dropdown-panel-items{
    .ng-option{
      &.ng-option-marked{
        color: $primary-color !important;
      }
    }
  }
} 


.ng-select.ng-select-focused {
    .ng-select-container:before{
      border-bottom: 2px solid $primary-color;
      transform: scaleX(210);
    }
    .ng-placeholder{
        color:#005074 !important;
        opacity: 1 !important;    
    }
    .ng-arrow-wrapper{
      .ng-arrow{
          color: $primary-color !important;
      }
    }
}


// .centric-modal-body.window_form_wrapper .ng-placeholder{
//   margin-top: 13px !important;
// }

.ng-option-disabled.ng-optgroup,
.ng-option-disabled.ng-optgroup label.font-weight-bold {
  color: rgba(0,0,0,1) !important;
}

.ng-select .ng-has-value .ng-placeholder, .ng-select.ng-select-opened .ng-placeholder{
  -webkit-transform: inherit;
    transform: inherit;
    font-size: 0.75rem !important;
    transform: translateY(-14px) !important;
    color: #005074 !important;
}
span.md2-datepicker-placeholder.md2-floating-placeholder{
  color: #005074 !important;
}


.form-field-input:placeholder-shown ~ .form-field-label,
.form-field-textarea:placeholder-shown ~ .form-field-label{
  color: #000000 !important;
}
.form-field-label, 
.form-field-input:focus ~ .form-field-label, 
.form-field-textarea:focus ~ .form-field-label{
  color: #005074 !important;
}