<!-- Title Start-->
<div class="cont-us">
    <div class="col-24">
        <div class="crm-heading   crm-grid__item" id="crm_heading">
            <div class="crm-container">
                <div class="crm-heading__main">
                    <h3 class="crm-heading__title">Settings</h3>
                    <span class="crm-heading__separator crm-hidden"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Title End -->
<div class="col-24">
    <div class="crm-mainbox crm-portlet--height-fluid-half">
        <div class="container-fluid p-3">
            <h4>Phone System settings</h4>
            <p class="mb-0"> Your extension is {{userDetails.plivoExtension}}, Language assigned: {{userDetails.language}}, Queue assigned:
                {{userDetails.queue}}.
            </p>
        </div>
    </div>
</div>