<div class="row mt-4">
    <div class="col-24 customersearch">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-returnSSN-tab" data-toggle="tab" href="#returnSSN" role="tab" aria-controls="nav-returnSSN"
                    aria-selected="true">Return
                </a>
                <a class="nav-item nav-link" id="nav-statisticsSSN-tab" data-toggle="tab" href="#statisticsSSN" role="tab" aria-controls="nav-statisticsSSN"
                    aria-selected="false">Statistics
                </a>
                <a class="nav-item nav-link" id="nav-efileSSN-tab" data-toggle="tab" href="#efileSSN" role="tab" aria-controls="nav-efileSSN"
                    aria-selected="false">Efile
                </a>
                <a class="nav-item nav-link" id="nav-efileHistorySSN-tab" data-toggle="tab" href="#efileHistorySSN" role="tab" aria-controls="nav-efileHistorySSN"
                    aria-selected="false" (click)="Search()">Efile History
                </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <!-- Return tab starts-->
            <div class="tab-pane fade show active pt-3" id="returnSSN" role="tabpanel" aria-labelledby="nav-returnSSN-tab">
                <div class="row">
                    <div class="col-lg-6 col-md-24 col-sm-24">
                        <div class="info_tile_wrap">
                            <div class="info_tile_title">
                                Return
                            </div>
                            <div class="info_tile_content">
                                <div class="clearfix">
                                    <label class="float-left highlightSelectedActivity">Return Type
                                    </label>
                                    <span class="float-right">Individual</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Filling Status
                                    </label>
                                    <span class="float-right">{{quickSummary.returnInfoDetail.fillStatus}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Created By
                                    </label>
                                    <span class="float-right">{{quickSummary.returnInfoDetail.createdBy}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="font-weight-bold">Created Date & Time
                                    </label>
                                    <span class="float-right">{{quickSummary.returnInfoDetail.createdDateTime | date:'MM/dd/yyyy h:mm a'}}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Updated By
                                    </label>
                                    <span class="float-right">{{quickSummary.returnInfoDetail.updatedBy}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="font-weight-bold">Updated Date & Time
                                    </label>
                                    <span class=" float-right">{{quickSummary.returnInfoDetail.lastEdited | date:'MM/dd/yyyy h:mm a'}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Return Status
                                    </label>
                                    <span class=" float-right">{{quickSummary.returnInfoDetail.status}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-24 col-sm-24 ">
                        <div class="info_tile_wrap">
                            <div class="info_tile_title">
                                Taxpayer
                            </div>
                            <div class="info_tile_content">
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">SSN</label>
                                    <span class="float-right">{{quickSummary.taxPayerDetail.ssn}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Name</label>
                                    <span class="float-right">{{quickSummary.taxPayerDetail.firstName}} {{quickSummary.taxPayerDetail.lastName}}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Address</label>
                                    <div class="float-right" *ngIf="quickSummary.taxPayerDetail.usStreet!=''">
                                        <div>{{quickSummary.taxPayerDetail.usAptNo}}
                                            <span *ngIf="quickSummary.taxPayerDetail.usAptNo && quickSummary.taxPayerDetail.usStreet">,
                                            </span>{{quickSummary.taxPayerDetail.usStreet}}
                                        </div>
                                        <div>{{quickSummary.taxPayerDetail.usZipCode}}
                                            <span *ngIf="quickSummary.taxPayerDetail.usZipCode && quickSummary.taxPayerDetail.usCity">,
                                            </span>{{quickSummary.taxPayerDetail.usCity}}
                                            <span *ngIf="quickSummary.taxPayerDetail.usState && quickSummary.taxPayerDetail.usCity">,
                                            </span>{{quickSummary.taxPayerDetail.usState}}
                                        </div>
                                    </div>
                                    <div class="float-right" *ngIf="quickSummary.taxPayerDetail.usAptNo == '' ">
                                        <div>{{quickSummary.taxPayerDetail.fgStreet}}
                                            <span *ngIf="quickSummary.taxPayerDetail.fgCity && quickSummary.taxPayerDetail.fgStreet">,
                                            </span>{{quickSummary.taxPayerDetail.fgCity}}
                                        </div>
                                        <div>
                                            {{quickSummary.taxPayerDetail.fgPostalCode}}
                                            <span *ngIf="quickSummary.taxPayerDetail.fgPostalCode && quickSummary.taxPayerDetail.fgState">,
                                            </span>{{quickSummary.taxPayerDetail.fgState}}
                                            <span *ngIf="quickSummary.taxPayerDetail.fgCountry && quickSummary.taxPayerDetail.fgState">,
                                            </span>{{quickSummary.taxPayerDetail.fgCountry}}
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Home No
                                    </label>
                                    <span class="float-right">{{quickSummary.taxPayerDetail.phoneNo}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Email</label>
                                    <span class="float-right">{{quickSummary.taxPayerDetail.email}}</span>
                                </div>

                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Date of Birth
                                    </label>
                                    <span class="float-right">{{quickSummary.taxPayerDetail.dateOfBirth}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Date of Death
                                    </label>
                                    <span class="float-right">{{quickSummary.taxPayerDetail.dateOfDeath}}</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--second info card start-->
                    <div class="col-lg-6 col-md-24 col-sm-24 ">
                        <div class="info_tile_wrap">
                            <div class="info_tile_title">
                                Spouse
                            </div>
                            <div class="info_tile_content">

                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">SSN</label>
                                    <span class="float-right">{{quickSummary.spouseDetail.ssn}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Name</label>
                                    <span class="float-right">{{quickSummary.spouseDetail.firstName}} {{quickSummary.spouseDetail.lastName}}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Home No
                                    </label>
                                    <span class="float-right">{{quickSummary.spouseDetail.phoneNo}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Email</label>
                                    <span class="float-right">{{quickSummary.spouseDetail.email}}</span>
                                </div>

                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Date of Birth
                                    </label>
                                    <span class="float-right">{{quickSummary.spouseDetail.dateOfBirth}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Date of Death
                                    </label>
                                    <span class="float-right">{{quickSummary.spouseDetail.dateOfDeath}}</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--second info card end-->
                    <!--third info card start-->
                    <div class="col-lg-6 col-md-24 col-sm-24">
                        <div class="info_tile_wrap">
                            <div class="info_tile_title">
                                Preparer
                            </div>
                            <div class="info_tile_content">

                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Id</label>
                                    <span class="float-right">{{quickSummary.preparerDetail.preparerId}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Name</label>
                                    <span class="float-right">{{quickSummary.preparerDetail.name}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">SSN</label>
                                    <span class="float-right">{{quickSummary.preparerDetail.ssn}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">PTIN</label>
                                    <span class="float-right">{{quickSummary.preparerDetail.ptin}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">EIN</label>
                                    <span class="float-right">{{quickSummary.preparerDetail.ein}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Phone No
                                    </label>
                                    <span class="float-right">{{quickSummary.preparerDetail.telephoneNo}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Email</label>
                                    <span class="float-right">{{quickSummary.preparerDetail.email}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-24 col-sm-24">
                        <div class="info_tile_wrap">
                            <div class="info_tile_title">
                                Bank
                            </div>
                            <div class="info_tile_content">
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">RTN</label>
                                    <span class="float-right">{{quickSummary.bankDetail.rtn}}</span>
                                </div>

                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Account No
                                    </label>
                                    <span class="float-right">{{quickSummary.bankDetail.accountNo}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Account Type
                                    </label>
                                    <span class=" float-right" *ngIf="quickSummary.bankDetail.accountType == '2'">Saving</span>
                                    <span class=" float-right" *ngIf="quickSummary.bankDetail.accountType == '1'">Current</span>
                                </div>


                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Name</label>
                                    <span class="float-right">{{quickSummary.bankDetail.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Return tab ends-->

            <!-- statistics tab starts -->
            <div class="tab-pane fade pt-3" id="statisticsSSN" role="tabpanel" aria-labelledby="nav-statisticsSSN-tab">
                <div class="row">
                    <div class="col-lg-6 col-md-24 col-sm-24 ">
                        <div class="info_tile_wrap">
                            <div class="info_tile_title">
                                Income
                            </div>
                            <div class="info_tile_content">
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Wages & Salary
                                    </label>

                                    <span class="float-right">{{quickSummary.incomeDetail.wagesAndSalary | currency:'USD':'symbol':'1.2-2'}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Interest & Dividend
                                    </label>
                                    <span class="float-right">{{quickSummary.incomeDetail.interestAndDividend | currency:'USD':'symbol':'1.2-2'}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Business Income
                                    </label>
                                    <span class=" float-right">{{quickSummary.incomeDetail.businessIncome | currency:'USD':'symbol':'1.2-2'}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Capital Gain
                                    </label>
                                    <span class="float-right">{{quickSummary.incomeDetail.capitalGain | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Farm Income</label>
                                    <span class="float-right">{{quickSummary.incomeDetail.farmIncome | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Other Income
                                    </label>
                                    <span class="float-right">{{quickSummary.incomeDetail.otherIncome | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Total Income
                                    </label>
                                    <span class="float-right">{{quickSummary.incomeDetail.totalIncome | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Total Adjustment
                                    </label>
                                    <span class="float-right">{{quickSummary.incomeDetail.totalAdjustment | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">AGI</label>
                                    <span class="float-right">{{quickSummary.incomeDetail.adjustedGrossIncome | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Itemized / Std. Deduction
                                    </label>
                                    <span class="float-right">{{quickSummary.incomeDetail.itemizedOrStandardDed | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Taxable income
                                    </label>
                                    <span class="float-right">{{quickSummary.incomeDetail.taxableIncome | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>


                    <!--CREDIT SUMMARY start-->
                    <div class="col-lg-6 col-md-24 col-sm-24">
                        <div class="info_tile_wrap">
                            <div class="info_tile_title">
                                Credit
                            </div>
                            <div class="info_tile_content">

                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Foreign tax</label>
                                    <span class="float-right">{{quickSummary.creditDetail.foreignTaxCredit | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Child & dependent care
                                    </label>
                                    <span class="float-right">{{quickSummary.creditDetail.childAndDepCare | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Elderly or disabled
                                    </label>
                                    <span class=" float-right">{{quickSummary.creditDetail.elderlyAndDisableCr | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Education</label>
                                    <span class="float-right">{{quickSummary.creditDetail.educationCredit | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Retirement savings contri.
                                    </label>
                                    <span class="float-right">{{quickSummary.creditDetail.rtrSavingsCredit | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">EIC</label>
                                    <span class="float-right">{{quickSummary.creditDetail.eic | currency:'USD':'symbol':'1.2-2' }}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">CTC</label>
                                    <span class="float-right">{{quickSummary.creditDetail.ctc | currency:'USD':'symbol':'1.2-2' }}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Adoption</label>
                                    <span class="float-right"></span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Additional child care
                                    </label>
                                    <span class="float-right">{{quickSummary.creditDetail.additionCTC | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Other Credit
                                    </label>
                                    <span class="float-right">{{quickSummary.creditDetail.otherCredit | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Total Credit
                                    </label>
                                    <span class="float-right">{{quickSummary.creditDetail.totalCredit | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--second info card end-->
                    <!--third info card start-->
                    <div class="col-lg-6 col-md-24 col-sm-24 ">
                        <div class="info_tile_wrap">
                            <div class="info_tile_title">
                                Tax
                            </div>
                            <div class="info_tile_content">
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Tax on Income
                                    </label>
                                    <span class="float-right">{{quickSummary.taxDetail.taxOnIncome | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">AMT</label>
                                    <span class="float-right">{{quickSummary.taxDetail.amt | currency:'USD':'symbol':'1.2-2' }}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Other taxes</label>
                                    <span class=" float-right">{{quickSummary.taxDetail.otherTaxes | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Total Tax</label>
                                    <span class="float-right">{{quickSummary.taxDetail.totalTax | currency:'USD':'symbol':'1.2-2' }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-24 col-sm-24">
                        <div class="info_tile_wrap">
                            <div class="info_tile_title">
                                Payment
                            </div>
                            <div class="info_tile_content">


                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Income tax withheld
                                    </label>
                                    <span class="float-right">{{quickSummary.paymentDetail.incomeTaxWithheld | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Estimated tax payment
                                    </label>
                                    <span class="float-right">{{quickSummary.paymentDetail.estimateTaxPayAmt | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Other payments
                                    </label>
                                    <span class=" float-right">{{quickSummary.paymentDetail.otherPayments | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Estimated tax penalty
                                    </label>
                                    <span class="float-right">{{quickSummary.paymentDetail.estimateTaxPenalyt | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix" *ngIf="quickSummary.paymentDetail.balanceDue>0">
                                    <label class="float-left font-weight-bold">Balance Due</label>
                                    <span class="float-right">{{quickSummary.paymentDetail.balanceDue | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix" *ngIf="!quickSummary.paymentDetail.balanceDue && quickSummary.paymentDetail.balanceDue>=0">
                                    <label class="float-left font-weight-bold">Refund</label>
                                    <span class="float-right">{{quickSummary.paymentDetail.refund | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--additional information start-->
                    <div class="clearfix" *ngIf="quickSummary.stateDetails.length!==0">
                        <h3 class="page_title_wrap title_height_40 " translate="ESTIMATOR_PERSONALINFO_LBL" translate-default="State Information">
                        </h3>
                        <div class="col-lg-24 col-md-24 col-sm-24 " *ngFor="let state of quickSummary.stateDetails">
                            <div class="info_tile_wrap">
                                <div class="info_tile_title">
                                    {{state.stateName}}
                                </div>
                                <div class="info_tile_content">
                                    <div class="clearfix">
                                        <label class="float-left font-weight-bold">Taxable income
                                        </label>
                                        <span class="float-right">{{state.taxableIncome | currency:'USD':'symbol':'1.2-2' }}</span>
                                    </div>
                                    <div class="clearfix">
                                        <label class="float-left font-weight-bold">Tax</label>
                                        <span class="float-right">{{state.tax | currency:'USD':'symbol':'1.2-2' }}</span>
                                    </div>
                                    <div class="clearfix">
                                        <label class="float-left font-weight-bold">Credits</label>
                                        <span class=" float-right">{{state.credits | currency:'USD':'symbol':'1.2-2' }}</span>
                                    </div>
                                    <div class="clearfix">
                                        <label class="float-left font-weight-bold">Payments</label>
                                        <span class="float-right">{{state.payments | currency:'USD':'symbol':'1.2-2'}}</span>
                                    </div>
                                    <div class="clearfix">
                                        <label class="float-left font-weight-bold">Interest & Penalties
                                        </label>
                                        <span class="float-right">{{state.interstAndPenalties }}</span>
                                    </div>
                                    <div class="clearfix" *ngIf="state.balanceDue>0">
                                        <label class="float-left font-weight-bold">Balance due
                                        </label>
                                        <span class="float-right">{{state.balanceDue | currency:'USD':'symbol':'1.2-2' }}</span>
                                    </div>
                                    <div *ngIf="!state.balanceDue || state.balanceDue<=0">
                                        <label class="float-left font-weight-bold">Refund</label>
                                        <span class="float-right">{{state.refund }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--additional information end-->
                </div>
            </div>
            <!--  statistics tab ends -->

            <!-- efile tab starts -->
            <div class="tab-pane fade pt-3" id="efileSSN" role="tabpanel" aria-labelledby="nav-efileSSN-tab">
                <div class="row">
                    <div class="col-lg-8 col-md-24 col-sm-24">
                        <div class="info_tile_wrap" *ngFor="let key of quickSummary.eFileDetail | keys">
                            <div class="info_tile_title">
                                {{quickSummary.eFileDetail[key].returnTypeDisplayText}}
                            </div>
                            <div class="info_tile_content">
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Status</label>
                                    <span class="float-right" *ngIf="quickSummary.eFileDetail[key]">{{quickSummary.eFileDetail[key] | statusFromNumber}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Submission Id
                                    </label>
                                    <span class="float-right cursor-pointer" *ngIf="quickSummary.eFileDetail[key]">{{quickSummary.eFileDetail[key].submissionId}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Date filed</label>
                                    <span class="float-right" *ngIf="quickSummary.eFileDetail[key]">{{quickSummary.eFileDetail[key].createdDate| date:'MM/dd/yyyy h:mm a'}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Transmission date
                                    </label>
                                    <span class="float-right" *ngIf="quickSummary.eFileDetail[key]">{{quickSummary.eFileDetail[key].transmittedDate| date:'MM/dd/yyyy h:mm a'}}
                                    </span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Acknowledgement date
                                    </label>
                                    <span class="float-right" *ngIf="quickSummary.eFileDetail[key]">{{quickSummary.eFileDetail[key].acknowledgementDate| date:'MM/dd/yyyy h:mm a'}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Filed By
                                    </label>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Name</label>
                                    <span class="float-right" *ngIf="quickSummary.eFileDetail[key]">{{quickSummary.eFileDetail[key].createdByName}}</span>
                                </div>
                                <div class="clearfix">
                                    <label class="float-left font-weight-bold">Email</label>
                                    <span class="float-right" *ngIf="quickSummary.eFileDetail[key]">{{quickSummary.eFileDetail[key].createdBy}}</span>
                                </div>
                                <div class="clearfix" *ngIf="quickSummary.eFileDetail[key] && quickSummary.eFileDetail[key].balanceDue>0">
                                    <label class="float-left font-weight-bold">Balance due</label>
                                    <span class="float-right" *ngIf="quickSummary.eFileDetail[key]">{{quickSummary.eFileDetail[key].balanceDue | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix" *ngIf="quickSummary.eFileDetail[key] && (!quickSummary.eFileDetail[key].balanceDue || quickSummary.eFileDetail[key].balanceDue<=0)">
                                    <label class="float-left font-weight-bold">Refund</label>
                                    <span class="float-right" *ngIf="quickSummary.eFileDetail[key]">{{quickSummary.eFileDetail[key].expectedRefund | currency:'USD':'symbol':'1.2-2' }}
                                    </span>
                                </div>
                                <div class="clearfix" *ngIf="quickSummary.eFileDetail[key]">
                                    <a>
                                        <label class="cursor-pointer text-primary" (click)="openEFile(quickSummary.eFileDetail[key].key)">View efile
                                        </label>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--additional information start-->
                    <div class="col p-0" *ngIf="quickSummary.eFileStateDetails.length!==0">
                        <h3 class="page_title_wrap title_height_40" translate="ESTIMATOR_PERSONALINFO_LBL">State Information</h3>
                        <div class="col-lg-8 col-md-24 col-sm-24 padding_l_0 quick_width_full" *ngFor="let state of quickSummary.eFileStateDetails">
                            <div class="info_tile_wrap" *ngFor="let key of state | keys">
                                <div class="info_tile_title">
                                    {{state[key].returnTypeDisplayText | uppercase}}
                                </div>
                                <div class="info_tile_content">

                                    <div class="clearfix">
                                        <label class="float-left font-weight-bold">Status</label>
                                        <span class="float-right" *ngIf="state[key]">{{state[key] | statusFromNumber}}</span>
                                    </div>
                                    <div class="clearfix">
                                        <label class="float-left font-weight-bold">Submission Id
                                        </label>
                                        <span class="float-right cursor-pointer">{{state[key].submissionId}}</span>
                                    </div>
                                    <div class="clearfix">
                                        <label class="float-left font-weight-bold">Date filed
                                        </label>
                                        <span class="float-right">{{state[key].createdDate| date:'MM/dd/yyyy h:mm a'}}</span>
                                    </div>
                                    <div class="clearfix">
                                        <label class="float-left font-weight-bold">Transmission date
                                        </label>
                                        <span class="float-right">{{state[key].transmittedDate| date:'MM/dd/yyyy h:mm a'}}</span>
                                    </div>
                                    <div class="clearfix">
                                        <label class="float-left font-weight-bold">Acknowledgement date
                                        </label>
                                        <span class="float-right">{{state[key].acknowledgementDate| date:'MM/dd/yyyy h:mm a'}}</span>
                                    </div>
                                    <div class="clearfix">
                                        <label class="float-left font-weight-bold">Filed By
                                        </label>
                                    </div>
                                    <div class="clearfix">
                                        <label class="float-left font-weight-bold">Name</label>
                                        <span class="float-right">{{state[key].createdByName}}</span>
                                    </div>
                                    <div class="clearfix">
                                        <label class="float-left font-weight-bold">Email</label>
                                        <span class="float-right">{{state[key].createdBy}}</span>
                                    </div>
                                    <div class="clearfix" *ngIf="state[key].balanceDue>0">
                                        <label class="float-left font-weight-bold">Balance due
                                        </label>
                                        <span class="float-right">{{state[key].balanceDue | currency:'USD':'symbol':'1.2-2' }}</span>
                                    </div>
                                    <div class="clearfix" *ngIf="!state[key].balanceDue||state[key].balanceDue<=0">
                                        <label class="float-left font-weight-bold">Refund</label>
                                        <span class="float-right">{{state[key].expectedRefund | currency:'USD':'symbol':'1.2-2' }}</span>
                                    </div>
                                    <div class="clearfix" *ngIf="state[key].key != undefined && state[key].status!= undefined && state[key].status>2">
                                        <a class="float-left ">
                                            <label (click)="openEFile(state[key].key)" class="text-primary cursor-pointer">View efile</label>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--additional information end-->
                </div>
            </div>
            <!--  efile tab ends -->

            <!-- efile-history tab starts -->
            <div class="tab-pane fade pt-3" id="efileHistorySSN" role="tabpanel" aria-labelledby="nav-efileHistorySSN-tab">
                <div class="row mb-3" *ngFor="let ssnData of data | keyvalue ;let i = index">
                    <div class="col">
                        <h5 class="font-weight-bold">
                            {{ssnData.key | uppercase}}
                        </h5>
                        <app-return-search-with-ssn-grid style="width:100%" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowData]="ssnData.value"
                            [animateRows]='true' [enableCellTextSelection]="true" [domLayout]="domLayout" [getRowStyle]="getRowStyle">
                        </app-return-search-with-ssn-grid>
                    </div>
                </div>
            </div>
            <!--  efile-history tab ends -->
        </div>
    </div>
</div>