.cross-validation  {
        border-bottom: 1px solid red;
}

.btn_next_pre_color{
        border: none;
        font-weight: bold;
        background-color: #f5f5f5;
        margin-top: 0px;
        color: #000;
    }
    .disableEvent { cursor: not-allowed } 