.btn-send {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: flex;
    background: #005074;
    border-radius: 50%;
    outline: none;
    padding: 0;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}