<!-- <div class="cont-us">
    <div class="row">
        <div class="col-24">
            <div class="crm-mainbox border-top-0 crm-portlet--height-fluid-half mb-0" style="border-top-left-radius: 0;">
                <div class="container-fluid p-3"> -->

<div class="clearfix">
    <div class="row">
        <div class="col-24">
            <app-customer-bankproduct-enrollment-status [unidentifiedCustomer]='unidentifiedCustomer' [customerID]='customerID'>
            </app-customer-bankproduct-enrollment-status>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-24">
            <app-customer-bankproduct-header-detail [unidentifiedCustomer]='unidentifiedCustomer' [customerID]='customerID'></app-customer-bankproduct-header-detail>
        </div>
    </div>
</div>
<!--                 
                </div>
            </div>
        </div>
    </div>
</div> -->