$header-background-color:#eaeaea;
$hover-color: white;
$odd-row-background-color: white;
$secondary-foreground-color:#212529;
$active: #3d8baf;
$font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
$border-color:#dee2e6;
$header-height:26px;
$row-height: 26px;
$row-border-width:1px;
$font-size:14px;
$secondary-font-size:14px;
$secondary-font-weight:bold;

