.pdf_display_wrap img{width: 100%;}
.pop-head-img{ cursor: pointer; margin-left: 10px;}
.efin-Verification-left{border-right: 1px dashed #cccccc;}
.form-seprator{border-bottom: 1px dashed #cccccc; margin-top: 15px; margin-bottom: 15px;} 
.popup-scroll-wrap{overflow: auto; max-height: 75vh;}
.datepicker-wrapper md2-datepicker{min-width: 100%;} 