<table class="graph_info pull-right">
    <tr>
        <td>
            <span>
                <img src="assets/images/checkin_sym.png"> Check In </span>
        </td>
        <td>
            <span>
                <img src="assets/images/checkout_sym.png"> Check out</span>
        </td>
        <td>
            <span title="Check In Due To Break By Same User">
                <img src="assets/images/bluecheckin_sym.png"> Break By Same User</span>
        </td>
        <td>
            <span title="Check Out Due To Break By Same User">
                <img src="assets/images/bluecheckout_sym.png"> Break By Same User</span>
        </td>
        <td>
            <span title="Check In Due To Break By Other User">
                <img src="assets/images/redcheckin_sym.png"> Break By Other User</span>
        </td>
        <td>
            <span title="Check Out Due To Break By Other User">
                <img src="assets/images/redcheckout_sym.png"> Break By Other User</span>
        </td>
    </tr>
    <tr>
        <td>
            <span>
                <img src="assets/images/grey.png"> Break</span>
        </td>
        <td>
            <span>
                <img src="assets/images/dark-orange.png"> Chat</span>
        </td>
        <td>
            <span>
                <img src="assets/images/pastrol-orange.png"> Internal Meeting </span>
        </td>
        <td>
            <span>
                <img src="assets/images/yellow.png"> Phone In</span>
        </td>
        <td>
            <span>
                <img src="assets/images/blue.png"> Phone Out</span>
        </td>
        <td>
            <span>
                <img src="assets/images/green.png"> PD Session</span>
        </td>
        <!-- <td>
                <span>
                    <img src="assets/images/light-grey.png">Grace</span>
            </td> -->

    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <span>
                <img src="assets/images/break.png" style="width: 16px"> Longer Break</span>
        </td>
        <td>
            <span>
                <img src="assets/images/max_indictr.png"> Max Time</span>
        </td>
        <td>
            <span>
                <img src="assets/images/min_indictr.png"> Min Time</span>
        </td>
    </tr>
</table>