<div class="py-2">
  <b>Field List
  </b>
</div>

<div class="clearfix bg-white text-dark" style="border-radius: 7px;" cdkDropListGroup>
  <div class="col-xs-24 pb-2">Visible ({{selectedTicketTypeFieldList.length}})
  </div>
  <div class="example-container col-lg-24 col-md-24 col-xl-24 col-sm-24 padding_l_r_0">
    <div class="card mb-4">
      <table class="table mb-0">
        <thead class="bg-dark-gray text-dark">
          <tr>
            <th></th>
            <th>Field Name</th>
            <th>Input Type</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody cdkDropList [cdkDropListData]="selectedTicketTypeFieldList" (cdkDropListDropped)="drop($event)" class="example-list">
          <tr *ngIf="selectedTicketTypeFieldList && selectedTicketTypeFieldList.length===0">
            <td class="pt-2 pl-2 padding_10">No Data Available</td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let ticket of selectedTicketTypeFieldList" [ngClass]="{'table-info':selectedRow===ticket.id}" class="example-box"
            cdkDrag>
            <td class="cursor_grab">
              <i class="fa fa-grip-horizontal"></i>
            </td>
            <td class="cursor_grab" style="width:65%">{{ticket.label}}
              <span *ngIf="ticket.count">({{ticket.count}})</span>
            </td>
            <td *ngIf="ticket.inputType !== 'dropdown'" class="cursor_grab">{{ticket.inputType}}</td>
            <td *ngIf="ticket.inputType == 'dropdown'" class="cursor_grab">singleselect</td>
            <td>
              <a class="cursor-pointer text-setblue" (click)="viewTicketTypeFieldDetails(ticket)">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="mb-3">
    <span>
      <i class="fa fa-long-arrow-alt-up"></i>
      <i class="fa fa-long-arrow-alt-down"></i>
    </span>
    Drag and Drop fields between Visible and Hidden
  </div>
  <div class="col-xs-24 pb-2"> Hidden ({{availableTicketTypeFieldList.length}})
  </div>
  <div class="example-container col-lg-24 col-md-24 col-xl-24 col-sm-24 padding_l_r_0">
    <div class="card">
      <table class="table  mb-0">
        <thead class="bg-dark-gray text-dark">
          <tr>
            <th>Field Name</th>
            <th>Input Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody cdkDropList [cdkDropListData]="availableTicketTypeFieldList" cdkDropListSortingDisabled (cdkDropListDropped)="drop($event)"
          class="example-list">
          <tr *ngIf="availableTicketTypeFieldList && availableTicketTypeFieldList.length===0">
            <td class="pt-2 pl-2 padding_10">No Data Avalaible</td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let ticket of availableTicketTypeFieldList" class="example-box" cdkDrag>
            <td class="cursor_grab" style="width:65%">{{ticket.label }}</td>
            <td class="cursor_grab">{{ticket.inputType}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>