.table_header{border: 1px solid #ddd; margin-bottom: 0px}
.table_th_header{background: #b1b1b1; color: white; text-align: right;}
.table_th_bank_name_header{background: #b1b1b1; color: white;}
.icon_height{background: #b1b1b1; color: white; width:50px;}
.PDF_icon{cursor: pointer; width:50px; text-align: right}