.set-desc textarea{
    height: 72px;
}
// .cross-validation-error  {
//     border-bottom: 1px solid red;
//   }

  .datepicker-wrapper md2-datepicker .md2-datepicker-trigger .md2-datepicker-input .md2-datepicker-placeholder {
    padding: 6px 2px !important;
    bottom: 20px !important;
    width: 125px !important;
}

.set-input{
    width: 100%; line-height: 24px
}

.inter-label{
    font-size:13px; 
    position:relative;  
    top:5px;
}
.inter-span{
    font-size:13px; 
    position:relative;  
}