<!-- Title Start-->
<div class="cont-us">
    <div class="col-24">
        <div class="crm-heading   crm-grid__item" id="crm_heading">
            <div class="crm-container">
                <div class="crm-heading__main">
                    <h3 class="crm-heading__title">Change Password</h3>
                    <span class="crm-heading__separator crm-hidden"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Title End -->

<div class="col-24">
    <div class="crm-mainbox crm-portlet--height-fluid-half p-3">
        <form [formGroup]="changePasswordForm">
            <!--Error message-->
            <div class="row">
                <div class="col">
                    <label class="text-red" *ngIf="changPasswordNoMatch" title="Old Password">New and Confirm Password
                        does not match.</label>
                </div>
            </div>
            <!--Error message End-->
            <!-- <div class="col-sm-24"> -->

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="form-field">
                                <div class="form-field-control ml-auto">
                                    <input id="oldPassword" type="password" class="form-field-input" placeholder=" "
                                        formControlName="oldPassword" maxlength="10" minlength="3">
                                    <label for="oldPassword" class="form-field-label">Old Password
                                        <span>*</span>
                                    </label>
                                    <div class="form-field-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="form-field">
                                <div class="form-field-control ml-auto">
                                    <input id="newPassword" type="password" class="form-field-input" placeholder=" "
                                        formControlName="newPassword" maxlength="10" minlength="3"
                                        (blur)="matchPassword()">
                                    <label for="newPassword" class="form-field-label">New Password
                                        <span>*</span>
                                    </label>
                                    <div class="form-field-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="form-field">
                                <div class="form-field-control ml-auto">
                                    <input id="confirmPassword" type="password" class="form-field-input" placeholder=" "
                                        formControlName="confirmPassword" maxlength="10" minlength="3"
                                        (blur)="matchPassword()">
                                    <label for="confirmPassword" class="form-field-label">Confirm Password
                                        <span>*</span>
                                    </label>
                                    <div class="form-field-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto ml-auto d-flex align-items-end">
                    <button class="btn btn-outline-primary ml-2 mb-2" type="submit" id="Change" name="Change"
                        (click)="change()" [disabled]="!changePasswordForm.valid">Change</button>
                    <button class="btn btn-outline-primary ml-2 mb-2" name="Back" id="Back"
                        [routerLink]="['/customer']">Back</button>
                </div>
            </div>
            <!-- </div> -->
        </form>
    </div>
</div>