<!--Dialog header-->
<div class="modal-header">
    <h5 class="modal-title">
        Payment History
    </h5>
    <div class="float-right">
        <div (click)="close()" class="cus-hov">
            <i class="fa fa-times"></i>
        </div>
    </div>
</div>
<!--Dialog header End -->
<!--Dialog body start -->
<div class="modal-body">
    <div class="col col-xl-24" *ngIf="!rowData || rowData.length === 0">
        <span class="font-weight-bold">
            No Data Available
        </span>
    </div>
    <div class="col col-xl-24" *ngIf="rowData && rowData.length > 0 && rowData[0] !== 'autoHeight'">
        <div class="pb-2">
            <span class="font-weight-bold">Contact History ({{rowData.length}})</span>
        </div>
        <ag-grid-angular #agGrid style="width: 100%;max-height:calc(100vh - 300px);overflow: auto;"
            class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs" [domLayout]="domLayout"
            [enableCellTextSelection]="true" [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>
<!--Dialog body end -->