<div class="modal-header">
    <h5 class="modal-title ">
        <span>Edit Expertise</span>
    </h5>
        <div class="cus-hov" (click)="close()">
            <i class="fa fa-times"></i>
        </div>
</div>

<div class="modal-body edit_user_main_wrpper">
    <div class="col-24 h-470">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <ng-select #user [items]="userLookupData" bindLabel="name" [multiple]="false" bindValue="id" [disabled]="true" appendTo="body"
                    [closeOnSelect]="false" [searchable]="false" [clearable]="false" placeholder="User" clearAllText="Clear"
                    [(ngModel)]="userData.userId">
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <div>
                            <label class="">{{item.name}}</label>
                        </div>
                    </ng-template>
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <app-select-multi-label class="w-100" [groupItems]="items" [lookup]="userLookupData">
                        </app-select-multi-label>
                    </ng-template>
                </ng-select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-16">
                <span class="">Expertise</span>
            </div>
        </div>
        <kendo-treeview [nodes]="treeViewData" textField="text" kendoTreeViewExpandable kendoTreeViewHierarchyBinding childrenField="items">
            <ng-template kendoTreeViewNodeTemplate let-dataItem let checkBoxIndex=index>
                <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
                    <div class="col-lg-7 col-md-10 col-sm-24 col-xs-24">
                        <span class="col-lg-24">{{dataItem.text}}</span>
                    </div>
                    <div class="col-lg-17 col-md-14 col-sm-24 col-xs-24 ">
                        <div class="">
                            <span class="" *ngFor="let option of dataItem.lookup; let i=index;">
                                <div class="custom-control custom-checkbox d-inline-block">
                                    <input type="checkbox" class="custom-control-input" id="{{dataItem.courseId}}_{{dataItem.categoryId}}_{{i}}" name="checkBoxIndex"
                                        [(ngModel)]="option.isSelected" (change)="isSelectedData(dataItem,option)">
                                    <label class="custom-control-label font-weight-bold" for="{{dataItem.courseId}}_{{dataItem.categoryId}}_{{i}}">{{option.name}}
                                    </label>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </kendo-treeview>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-outline-primary" id="save" name="save" (click)="save()">Save</button>
    <button class="btn btn-outline-primary" id="cancel" name="cancel" (click)="close()">Cancel</button>
</div>