<!--Dialog Header-->
<div class="modal-header">
    <h5 class="modal-title">
        Profile Information
    </h5>
    <div class="float-right">
        <div (click)="close()" class="cus-hov">
            <i class="fa fa-times"></i>
        </div>
    </div>
</div>
<!--Dialog Header End-->
<div class="modal-body">
    <div class="main_innerpage col-sm-24 padding_left_10 padding_right_10">
        <!-- <pre> -->
        <h4>Refund Status</h4>

        Sales Process Status = Cancel-Refund -> "Refund Issued"
        <br> Current Refund Request = TRUE -> "Refund Request"
        <br> if none of the above -> "None"
        <br>
        <br>

        <h4>Payment Status</h4>

        derived based on Sales Process Status
        <br> if exactly Annual 2017 or Annual 2018 -> not clear,
        <br> if contains w/f pymnt. -> not paid at all,
        <br> if contains Paid Partially -> partially paid,
        <br> if exactly Annual 2017 New, Annual 2017 Renew, Annual 2018 New, Annual 2018 Renew -> fully paid
        <br> if none of the above -> "None" -> not applicable
        <!-- </pre> -->
    </div>
</div>