<div class="cont-us col">
    <div class="row">
        <div class="col">
            <div class="crm-heading crm-grid__item" id="crm_heading">
                <div class="crm-container">
                    <div class="crm-heading__main">
                        <h3 class="crm-heading__title">Commission</h3>
                        <span class="crm-heading__separator crm-hidden"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-24">
            <div class="crm-mainbox crm-portlet--height-fluid-half">
                <div class="clearfix p-3">
                    <!--First row start here-->
                    <form [formGroup]="orderSearchForm">
                        <div class="row">
                            <div class="col-24 col-sm-24 col-md-12 col-xl-3">
                                <div class="form-field">
                                    <div class="form-field-control">
                                        <ng-select #tagListResult bindLabel="name" bindValue="id" [multiple]="true" placeholder="Tags" clearAllText="Clear" [items]="orderLookup.activityTagList"
                                            [selectableGroup]="true" appendTo="body" [closeOnSelect]="false" formControlName="tagListResult"
                                            [searchable]="false" [clearable]="false" (open)="onClearAll()">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <div class="custom-control custom-checkbox d-inline-block ln-normal">
                                                    <input type="checkbox" [checked]="item$.selected" class="custom-control-input" id="item-{{index}}">
                                                    <label class="custom-control-label">{{item.name}}</label>
                                                </div>
                                            </ng-template>
                                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                <app-select-multi-label class="w-100" [items]="items">
                                                </app-select-multi-label>
                                            </ng-template>
                                            <ng-template ng-header-tmp>
                                                <input type="text" class="in-set form-field-input" [appAutofocus] placeholder="Search" (input)="tagListResult.filter($event.target.value)"
                                                />
                                                <button (click)="onSelectAll('tagList')" class="btn btn-sm btn-secondary">All</button>
                                                <button (click)="onClearAll('tagListResult')" class="btn btn-sm btn-secondary ml-2">None</button>
                                                <button (click)="closeSelect(tagListResult);search()" class="btn btn-sm btn-secondary ml-2">Search</button>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-24 col-sm-24 col-md-12 col-xl-3">
                                <div class="form-field">
                                    <div class="form-field-control">
                                        <div class="custom-control custom-checkbox mt-18 mb-8 mr-3 d-inline-block">
                                            <input type="checkbox" class="custom-control-input" formControlName="isTestCustomer" id="actsWithoutTicket">
                                            <label class="custom-control-label" for="actsWithoutTicket">Test Customer
                                            </label>
                                        </div>
                                        <div class="custom-control custom-checkbox mt-18 mb-8 mr-3 d-inline-block">
                                            <input type="checkbox" class="custom-control-input" formControlName="isCrystaCustomer" id="isCrystaCustomer">
                                            <label class="custom-control-label" for="isCrystaCustomer">Crysta
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-24 col-sm-24 col-md-12 col-xl-8">
                                <div class="row">
                                    <div class="col-24 col-sm-24 col-md-12 col-lg col-xl">
                                        <div class="form-field">
                                            <div class="form-field-control">
                                                <ng-select bindLabel="name" bindValue="id" [items]="months" [multiple]="false" placeholder="Month" clearAllText="Clear" [selectableGroup]="true"
                                                    formControlName="commissionMonthFrom" appendTo="body" [closeOnSelect]="false"
                                                    [searchable]="false" [clearable]="false" class="salesprocessstatus" (open)="onClearAll()">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <div class=" d-inline-block ln-normal">

                                                            <label>{{item.name}}</label>
                                                        </div>
                                                    </ng-template>
                                                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                        <app-select-multi-label class="w-100" [items]="items">
                                                        </app-select-multi-label>
                                                    </ng-template>
                                                    <ng-template ng-header-tmp>
                                                        <input type="text" class="in-set form-field-input" [appAutofocus] placeholder="Search" (input)="tagList.filter($event.target.value)"
                                                        />
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-24 col-sm-24 col-md-12 col-lg col-xl">
                                        <div class="form-field">
                                            <div class="form-field-control">
                                                <ng-select bindLabel="name" bindValue="id" [items]="years" formControlName="commissionYearFrom" [multiple]="false" placeholder="Year"
                                                    clearAllText="Clear" [selectableGroup]="true" class="salesprocessstatus"
                                                    appendTo="body" [closeOnSelect]="false" [searchable]="false" [clearable]="false"
                                                    (open)="onClearAll()">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <div class=" d-inline-block  ln-normal">
                                                            <label>{{item.name}}</label>
                                                        </div>
                                                    </ng-template>
                                                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                        <app-select-multi-label class="w-100" [items]="items">
                                                        </app-select-multi-label>
                                                    </ng-template>
                                                    <ng-template ng-header-tmp>
                                                        <input type="text" class="in-set form-field-input" [appAutofocus] placeholder="Search" (input)="tagList.filter($event.target.value)"
                                                        />
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-24 col-sm-24 col-md-12 col-lg col-xl">
                                        <div class="form-field">
                                            <div class="form-field-control">
                                                <ng-select #tagList bindLabel="name" bindValue="id" [items]="months" [multiple]="false" placeholder="Month" formControlName="commissionMonthTo"
                                                    clearAllText="Clear" [selectableGroup]="true" appendTo="body" [closeOnSelect]="false"
                                                    [searchable]="false" [clearable]="false" class="salesprocessstatus" (open)="onClearAll()">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <div class=" d-inline-block  ln-normal">
                                                            <label>{{item.name}}</label>
                                                        </div>
                                                    </ng-template>
                                                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                        <app-select-multi-label class="w-100" [items]="items">
                                                        </app-select-multi-label>
                                                    </ng-template>
                                                    <ng-template ng-header-tmp>
                                                        <input type="text" class="in-set form-field-input" [appAutofocus] placeholder="Search" (input)="tagList.filter($event.target.value)"
                                                        />
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-24 col-sm-24 col-md-12 col-lg col-xl">
                                        <div class="form-field">
                                            <div class="form-field-control">
                                                <ng-select #tagList bindLabel="name" bindValue="id" [items]="years" [multiple]="false" placeholder="Year" clearAllText="Clear"
                                                    formControlName="commissionYearTo" [selectableGroup]="true" appendTo="body"
                                                    [closeOnSelect]="false" [searchable]="false" [clearable]="false" class="salesprocessstatus"
                                                    (open)="onClearAll()">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <div class=" d-inline-block  ln-normal">
                                                            <label>{{item.name}}</label>
                                                        </div>
                                                    </ng-template>
                                                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                        <app-select-multi-label class="w-100" [items]="items">
                                                        </app-select-multi-label>
                                                    </ng-template>
                                                    <ng-template ng-header-tmp>
                                                        <input type="text" class="in-set form-field-input" [appAutofocus] placeholder="Search" (input)="tagList.filter($event.target.value)"
                                                        />
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-auto">
                                        <button id="previous" name="previous" class="btn btn-outline-secondary common_btn_action mr-2" ngbTooltip="Previous" data-placement="bottom"
                                            container="body" tooltipClass="default" (click)="changeMonth($event,'Previous')">
                                            <i class="fas fa-angle-double-left font-15" aria-hidden="true"></i>
                                        </button>
                                        <button id="next" name="next" class="btn btn-outline-secondary common_btn_action" ngbTooltip="Next" data-placement="bottom"
                                            container="body" tooltipClass="default" (click)="changeMonth($event,'Next')">
                                            <i class="fas fa-angle-double-right font-15" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-24 col-sm-24 col-md-12 col-lg-4 col-xl-3">
                                <div class="form-field">
                                    <div class="form-field-control">
                                        <md2-datepicker class="full-width-datepicker" type="date" format="MM/dd/y" placeholder="Actual Date From" name="date" id="plannedDateFrom"
                                            openOnFocus="false" mode="landscape" formControlName="dateFrom" (change)="onDateChange()">
                                        </md2-datepicker>
                                        <div class="form-field-bar"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-24 col-sm-24 col-md-12 col-lg-4 col-xl-3">
                                <div class="form-field">
                                    <div class="form-field-control">
                                        <md2-datepicker class="full-width-datepicker" type="date" format="MM/dd/y" placeholder="Actual Date To" name="dateTo" id="dateTo"
                                            openOnFocus="false" mode="landscape" formControlName="dateTo" (change)="onDateChange()">
                                        </md2-datepicker>
                                        <div class="form-field-bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--First row End here-->
                        <!--Second row Start here -->
                        <div class="row">
                            <div class="col-24 col-sm-24 col-md-12 col-xl-3">
                                <div class="form-field">
                                    <div class="form-field-control">
                                        <ng-select #saleTypeResult (open)="onClearAll()" bindLabel="name" bindValue="id" [items]="orderLookup.salesTypeList" [multiple]="true"
                                            placeholder="SalesType" clearAllText="Clear" formControlName="saleTypeResult" [selectableGroup]="true"
                                            appendTo="body" [closeOnSelect]="false" [searchable]="false" [clearable]="false">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <div class="custom-control custom-checkbox d-inline-block ln-normal">
                                                    <input type="checkbox" [checked]="item$.selected" class="custom-control-input" id="item-{{index}}">
                                                    <label class="custom-control-label">{{item.name}}</label>
                                                </div>
                                            </ng-template>
                                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                <app-select-multi-label class="w-100" [items]="items">
                                                </app-select-multi-label>
                                            </ng-template>
                                            <ng-template ng-header-tmp>
                                                <input type="text" class="in-set form-field-input" [appAutofocus] placeholder="Search" (input)="saleTypeResult.filter($event.target.value)"
                                                />
                                                <button (click)="onSelectAll('SalesType')" class="btn btn-sm btn-secondary">All</button>
                                                <button (click)="onClearAll('saleTypeResult')" class="btn btn-sm btn-secondary ml-2">None</button>
                                                <button (click)="closeSelect(saleTypeResult);search()" class="btn btn-sm btn-secondary ml-2">Search</button>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-24 col-sm-24 col-md-12 col-xl-3">
                                <div class="form-field">
                                    <div class="form-field-control">
                                        <div class="custom-control custom-checkbox mt-18 mb-8 mr-3 d-inline-block">
                                            <input type="checkbox" class="custom-control-input" formControlName="isCurrentRefundRequest" id="actsWithoutTicket1">
                                            <label class="custom-control-label" for="actsWithoutTicket1">Current refund request
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-24 col-sm-24 col-md-12 col-xl-8">
                                <div class="form-field">
                                    <div class="form-field-control">
                                        <ng-select #responsiblePersonResult (open)="onClearAll()" bindLabel="name" groupBy="group" [disabled]="!isManagement" [items]="orderLookup.responsiblePesronList"
                                            bindValue="id" [multiple]="true" placeholder="Commission Receiver" formControlName="responsiblePersonResult"
                                            clearAllText="Clear" [selectableGroup]="true" class="salesprocessstatus" [selectableGroupAsModel]="false"
                                            appendTo="body" [closeOnSelect]="false" [searchable]="false" [clearable]="false">
                                            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                                                <div class="custom-control custom-checkbox d-inline-block ln-normal">
                                                    <input type="checkbox" [checked]="item$.selected" class="custom-control-input" id="item-{{index}}">
                                                    <label class="custom-control-label font-weight-bold">{{item.group}}</label>
                                                </div>
                                            </ng-template>
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <div class="custom-control custom-checkbox d-inline-block ln-normal">
                                                    <input type="checkbox" [checked]="item$.selected" class="custom-control-input" id="item-{{index}}">
                                                    <label class="custom-control-label">{{item.name}}</label>
                                                </div>
                                            </ng-template>
                                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                <app-select-multi-label class="w-100" [groupItems]="items" [lookup]="orderLookup.responsiblePesronList">
                                                </app-select-multi-label>
                                            </ng-template>
                                            <ng-template ng-header-tmp>
                                                <!-- responsiblePersonResult.filter($event.target.value) -->
                                                <input type="text" class="in-set form-field-input" [appAutofocus] placeholder="Search" (input)="filterData($event.target.value)"
                                                />
                                                <button (click)="onSelectAll('responsiblePesron')" class="btn btn-sm btn-secondary">All</button>
                                                <button (click)="onClearAll('responsiblePersonResult')" class="btn btn-sm btn-secondary ml-2">None</button>
                                                <button (click)="closeSelect(responsiblePersonResult);search()" class="btn btn-sm btn-secondary ml-2">Search</button>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-24 col-sm-24 col-md-12 col-xl-10">
                                <div class="set-mediam ">
                                    <div class="justify-content-end">
                                        <div class="w-100 text-right mb-space mt-2">
                                            <button class="btn btn-outline-primary ml-2 mb-2" (click)="search()">Search</button>
                                            <button class="btn btn-outline-primary ml-2 mb-2" (click)="resetFilter($event)">Reset</button>
                                            <button [disabled]="!availableOrderDetails || availableOrderDetails.length === 0" class="btn btn-outline-primary ml-2 mb-2"
                                                (click)="onBtExport()">Export to Excel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- AG-Grid starts here-->

                    <div class="row" *ngIf="!availableOrderDetails || availableOrderDetails.length == 0">
                        <div class="col">
                            <p class="mx-3">No Data Available</p>
                        </div>
                    </div>

                    <div class="row" *ngIf="availableOrderDetails && availableOrderDetails.length>0">
                        <div class="col deta-aggrid">
                            <div class="d-block my-2">
                                <p class="mb-1">
                                    <b> Order Qty. </b>
                                    <span class="font-weight-bold">({{orderDisplayData.orderQuantity | number}})</span>
                                    <b> Order Amount </b>
                                    <span class="font-weight-bold">
                                        ({{orderDisplayData.orderAmount | commaSeparatedNumber}})</span>
                                    <b> Average Amount </b>
                                    <span class="font-weight-bold">
                                        ({{orderDisplayData.orderAverageAmount | commaSeparatedNumber}})</span>
                                </p>
                                <p class="mb-1">
                                    <b> Refund Qty.</b>
                                    <span class="font-weight-bold">
                                        ({{orderDisplayData.refundQuantity | number}})</span>
                                    <b> Refund Amount </b>
                                    <span class="font-weight-bold">
                                        ({{orderDisplayData.refundAmount | commaSeparatedNumber}} <span *ngIf="orderDisplayData.refundAmountPercentage">, {{orderDisplayData.refundAmountPercentage}}</span>)
                                    </span>
                                    <b> Average Amount </b>
                                    <span class="font-weight-bold">
                                        ({{orderDisplayData.refundAverageAmount | commaSeparatedNumber}})</span>
                                </p>
                                <p class="mb-1">
                                    <b> Total Qty. </b>
                                    <span class="font-weight-bold">
                                        ({{orderDisplayData.totalCustomer | number}})</span>
                                    <b> Total Amount </b>
                                    <span class="font-weight-bold">
                                        ({{orderDisplayData.totalAmount | commaSeparatedNumber}})</span>
                                </p>
                            </div>

                            <ag-grid-angular #agGrid id="myGrid" style="width: 100%;height: calc(100vh - 330px);" class="ag-theme-balham" [columnDefs]="columnDefs"
                                [defaultColDef]="defaultColDef" [rowData]="availableOrderDetails" [sideBar]="sideBar" (rowClicked)="onRowClicked($event)"
                                (gridReady)="onGridReady($event)" [animateRows]='true' [floatingFilter]="true" [rowClassRules]="rowClassRules"
                                [enableCellTextSelection]="true" [getRowStyle]="getRowStyle" (sortChanged)="onSortChanged()"
                                (filterChanged)="onSortChanged()">
                            </ag-grid-angular>
                        </div>
                    </div>
                    <!-- AG-Grid Ends here-->
                </div>
            </div>
        </div>
    </div>
</div>